.projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.projects li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1.2rem;
}

.projects .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
}

.projects a {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: #ffffff;
    padding: .8rem 0;
    font-weight: 400;
    font-size: 1.1rem;
}

.projects p {
    font-style: italic;
    padding-top: .8rem;
}

a:hover {
    text-decoration: underline;
    color:#242447;
    font-weight: 600;
}


.projects li .github::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url(../image/icons/github.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
}